@mixin contents($width,$bg-color){
    width: $width;
    background-color: $bg-color;
    color: white;
    text-align: center;
    padding: 100px 0;
}
@mixin hdft($bg-color){
    background-color: $bg-color;
    text-align: center;
    color: white;
    padding: 20px 0;
    display: block;
}
.header{
    @include hdft(red);
}
.contents{
    display: flex;
    .content{
        @include contents(80%,orange);
    }
    .sidebar{
        @include contents(20%,green);
    }   
}
.footer {
    @include hdft(blue);
}