<p>baitap-them-san-pham works!</p>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Ma san pham</label>
                <input type="text" class="form-control" #maSP>
                <label for="">Ten SP</label>
                <input type="text" class="form-control" #tenSP>
                <label for="">Gia san pham</label>
                <input type="text" class="form-control" #giaSP>
                <button class="btn btn-success" (click)="ThemSanPham(maSP.value,tenSP.value,giaSP.value)">Them San
                    Pham</button>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Ma san pham</th>
                    <th>Ten SP</th>
                    <th>Gia Tien</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="danhSachSanPham && danhSachSanPham.length >0">
                    <tr *ngFor="let item of mangSP;let stt = index"
                        [ngClass]="{bgColor : index%2===0}">
                        <td>{{index + 1}}</td>
                        <td>{{sp.maSP}}</td>
                        <td>{{sp.tenSP}}</td>
                        <td>{{sp.giaSP}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>