<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <app-item-card>
                <p class="tenSP">Iphone</p>
                <p class="mota">lorem.....</p>
                <p class="gia">2000</p>
            </app-item-card>
        </div>
        <div class="col-sm-4">
            <app-item-card>
                <p class="tenSP">Samsung</p>
                <p class="mota">lorem.....</p>
                <p class="gia">3000</p>
            </app-item-card>
        </div>
        <div class="col-sm-4">
            <app-item-card>
                <p class="tenSP">Vivo</p>
                <p class="mota">lorem.....</p>
                <p class="gia">4000</p>
            </app-item-card>
        </div>
    </div>
</div>
