<h3 style="color: red">ng-switch</h3>
<div [ngSwitch] = "dkSwitch">
    <div *ngSwitchCase = "'red'" style="color: red;">Màu đỏ</div>
    <div *ngSwitchCase = "'blue'" style="color: blue;">Màu xanh</div>
    <div *ngSwitchCase = "'green'" style="color: green;">Màu xanh lá</div>
    <div *ngSwitchDefault style="color: orange;">Màu cam</div>
</div>

<select #t (change)="changeColor(t.value)">
    <option value="red">Mau do</option>
    <option value="blue">Mau xanh</option>
    <option value="green">Mau xanh la </option>
    <option value="orange">Mau cam</option>
</select>